/* General Stylings */

body{
    background-color: #EEEEEE;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Navigation Bar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #232931;
}

.logo{
    margin: 0;
    color: #EEEEEE;
}

.linkList{
    display: flex;
    margin-left: auto;
    
}

.navItem{
    margin: 0 15px;

}

a{
    color:#EEEEEE;
    text-decoration: none;
}

/* Bottom Navigation Bar */

.altNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #232931;
}

.toTop {
    display: flex;
}

/* General Content */

.content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;

    height: 400px;
}

.contentLeft{
    width: 350px;
}

.contentRight{
    width: 350px;
}

.header{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

hr{
    width:70%;
}


/* About Me */

.skills{
    background-color: #393E46;
    color: white;
}

.fun-facts{
    background-color: white;
}

/* Portfolio Content */

.cardDeck{
    display: flex;
    justify-content: center;
    margin:0;
    gap: 30px;
    background-color: #393E46;
}

.card{
    display:flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    margin: 100px 0;
    background-color: #232931;
    border-radius: 10px;
    
}

.img-container{
    display: flex;
    height:300px;
    width: 350px;
    justify-content: center;
    margin: 30px auto;
    padding: 0;
}

.image{
    border-radius:10px;
    height:300px;
    width: 350px;
    object-fit: cover;
    
}

.skills-used{
    margin: 0 30px;
}

.card-heading{
    color: #EEEEEE;
}

.card-list{
    color: #EEEEEE;
}

/* Contact Me Content */

.formContent{
    display: flex;
    justify-content: center;
    background-color: #393E46;
    /* height: 686px; */
    color:#EEEEEE;
}

.collumn{
    margin: 2%;
    flex-direction: column
}

.inputItem{
    margin-top: 10px;
}

.contact-text{
    text-align: center;
}

.btn{
    background-color: #3D8361;
    border-style: none;
    padding: 10px 15px;
    border-radius: 999px;
}

@media(max-width: 800px){

.content{
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    height: fit-content;
}
.cardDeck{
    flex-direction: column;
    align-items: center;
    padding: 20px auto;
}
.card{
    margin: 20px auto;
}

.formContent{
    flex-direction: column;
    align-items: center;
}

.collumn{
    width: 462.8px;
}
}