/* General Stylings -------------------------------------------*/

body {
    background-color: #EEEEEE;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/* Navigation Bar ---------------------------------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #232931;
}

.logo {
    margin: 0;
    color: #EEEEEE;
}

.linkList {
    display: flex;
    margin-left: auto;

}

.navItem {
    margin: 0 15px;
    border: 1px solid #232931;
    padding: 5px 10px;
    border-radius: 999px;

}

.navItem:hover {
    border: 1px solid white;
    transition: 1s;
}

a {
    color: #EEEEEE;
    text-decoration: none;
}

/* Bottom Navigation Bar ---------------------------------------*/

.altNavBar {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #232931;
}

.toTop {
    display: flex;
    width: 100%;
    justify-content: center;
}

.toTopBtn {
    border: 1px solid #232931;
    padding: 5px 10px;
    border-radius: 999px;
}

.toTopBtn:hover {
    border: 1px solid white;
    transition: 1s;
}

.tm {
    display: flex;
    width: 100%;
    justify-content: left;
    color: white;
}

/* General Content ---------------------------------------------*/

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5%;

    height: 400px;
}

.contentLeft {
    width: 350px;
}

.contentRight {
    width: 350px;
}

.header {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

hr {
    width: 70%;
}


/* About Me ---------------------------------------------------*/

.skills {
    background-color: #393E46;
    color: white;
}

.fun-facts {
    background-color: white;
}

/* Portfolio Content ------------------------------------------*/

.cardDeck {
    display: flex;
    justify-content: center;
    margin: 0;
    gap: 30px;
    background-color: #393E46;
}

.card {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 400px;
    margin: 100px 0;
    background-color: #232931;
    border-radius: 10px;

}

.img-container {
    display: flex;
    height: 300px;
    width: 350px;
    justify-content: center;
    margin: 30px auto;
    padding: 0;
}

.image {
    border-radius: 10px;
    height: 300px;
    width: 350px;
    object-fit: cover;

}

.skills-used {
    margin: 0 30px;
}

.card-heading {
    color: #EEEEEE;
}

.card-list {
    color: #EEEEEE;
}

/* Contact Me Content ----------------------------------------*/

.form {
    background-color: #393E46;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formContent {
    display: flex;
    justify-content: space-between;
    color: #EEEEEE;
    width: 780px;


}

.collumn {
    display: flex;
    margin: 20px;
    flex-direction: column
}

.form-input {
    display: flex;
    margin: 20px;
    flex-direction: column;

}

.contact {
    width: 300px;
    border: none;
    padding: 0;
    margin: 0;
    height: 30px;
    border-radius: 5px;
}

.inputItem {
    margin-top: 10px;
}

.contact-text {
    text-align: center;
}

.btn {
    background-color: #155f3b;
    color: #EEEEEE;
    border-style: none;
    padding: 10px 15px;
    border-radius: 999px;
}

.btn:hover {
    background-color: #3D8361;
    transition: 200ms;
}

.btn:active {
    background-color: #232931;
}

.survey {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    color: #EEEEEE;
    padding: 20px;
}

.survey-item {
    display: flex;
    flex-direction: column;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

textarea {
    resize: none;
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 5px;
}

@media(max-width: 800px) {

    /* General Content ---------------------------------------------*/

    .content {
        flex-direction: column;
        justify-content: center;
        gap: 100px;
        height: fit-content;
    }

    /* Portfolio Content ------------------------------------------*/

    .cardDeck {
        flex-direction: column;
        align-items: center;
        padding: 20px auto;
    }

    .card {
        margin: 20px auto;
    }

    /* Contact Me Content ----------------------------------------*/

    .formContent {
        flex-direction: column;
        align-items: center;
        width: 386px;
        padding: 20px;
    }

    .contact {
        width: auto;
    }

    .form-input {
        flex-direction: row;
        width: 386px;
        justify-content: space-between;
    }

    .survey {
        flex-direction: column;
        align-items: center;
    }

    .survey-item {
        width: 386px;
    }
}

@media(max-width: 430px) {

    /* Contact Me Content ----------------------------------------*/

    .form-input {
        flex-direction: column;
    }

    textarea,
    .contact,
    .survey,
    .survey-item,
    .formContent,
    .form-input {
        width: 300px;

    }
}